body {
  color: #2c1e37;
  background: #ffffff;
}
body {
  background: -webkit-linear-gradient(left, #19111f 0%, #2c1e37 100%);
  background: -moz-linear-gradient(left, #19111f 0%, #2c1e37 100%);
  background: -o-linear-gradient(left, #19111f 0%, #2c1e37 100%);
  background: -ms-linear-gradient(left, #19111f 0%, #2c1e37 100%);
  background: linear-gradient(to right, #19111f 0%, #2c1e37 100%);
  color: #ffffff;
  font-family: 'Georgia', serif;
  font-size: 14px;
  margin: 5px 10px 0;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 5px 5px 0;
  }
}
a {
  color: #a085c6;
  text-decoration: none;
  font-size: 1em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
a:hover {
  color: #fcd174;
  border-color: #fcd174;
}
p,
span {
  line-height: 1.5;
}
h1 {
  font-size: 2em;
  margin-bottom: 30px;
}
strong {
  font-weight: bold;
}
strong a {
  border: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  width: 200px;
  padding: 0 10px 10px 0;
  position: relative;
  float: left;
}
@media only screen and (max-width: 600px) {
  header {
    float: none;
  }
}
@media only screen and (max-width: 400px) {
  header {
    width: 100%;
  }
}
header img {
  width: 100%;
  margin-bottom: 20px;
}
header nav ul {
  margin-bottom: 20px;
}
header nav ul li {
  margin-bottom: 10px;
}
header p {
  margin-bottom: 20px;
  width: 80%;
}
header small {
  font-size: 0.7em;
}
.content p {
  margin-bottom: 30px;
}
.content p strong {
  font-weight: 600;
}
#kuromi {
  display: inline;
}

.kuromiHappy #kuromiHappy {
  float: left;
}
p {
  margin-left: 0%;
  margin-right: 0%;
}

p,
name {
  width: 100%;
}

#topbar {
  position: relative;
}

.topbar {
  text-align: center;
  height: 105px;
  border: thin solid #007e7e;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-image: null;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  box-shadow: #ffffff;
}

p {
  font-size: 16px;
}

.topbar a {
  height: 110px;
  padding: 80px;
  margin-top: 40px;

  background-image: null;
  overflow: hidden;
  font-size: 17px;
  border: 4px;
  border-color: #007e7e;
  position: center;
  z-index: 2;
}

.headbar {
  text-align: center;
  height: 75px;
  border: thin solid #007e7e;
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-image: null;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  box-shadow: #ffffff;
}

.headbar a {
  height: 50px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: null;
  overflow: hidden;
  font-size: 17px;
  border: 4px;
  border-color: #007e7e;
  z-index: 2;
}

p {
  clear: both;
}

#name {
  margin-right: 5%;
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .content {
    font-size: 16px;
    max-width: 450px;
    margin-top: 5px;
    border-top: 1px solid #382640;
    padding: 4px 0 10px;
  }
  .headbar {
    height: fit-content;
    text-overflow: clip;
  }
  .headbar a {
    color: red;
    height: 34px;
    padding-top: 34px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 600px) {
  .content {
    margin-left: 250px;
    font-size: 16px;
    max-width: 450px;
  }
}
